.jumbotron
{
    background: url("images/CS162 - Background Image.jpg");
    background-color: #d4abf8;
    border: 5px solid #000000;
    min-height: 100vh;
    text-align: center;
    margin-bottom: 0px;
}

.hero-text
{
    position: absolute;
    top: 50%;
    width: 100%;
}

.no-specifications
{
    border-radius: 30px 30px 30px 30px;
    box-shadow: 1px black;
    margin: 1em;
    color: black;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    background: #e0c4f8;
    border: 2px solid black;
}

.no-specifications:hover
{
    color: rgb(96, 95, 95);
}


.button{
    border-radius: 20px 20px 20px 20px;
    box-shadow: 1px black;
    margin: 1em;
    color: black;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    background-color: #c489f7;
    border: 5px solid black;
}

.button:hover
{
    background-color: #e0c4f8;
}

.button:active
{
    background-color: #c489f7;
    top: 824px;
    left: 604px;
    transform: scale(0.98);
    box-shadow: 0px 0px 0px 0px black;
}

.content
{
    background-color: #d4abf8;
    border: 5px solid black;
    text-align: center;
    padding-bottom: 5vmin;
}

.card
{
    background-color: #dbb7fb;
    border: 5px solid black;
    border-radius: 30px 30px 30px 30px;
    margin: 2em;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    color: black;
}

.card-title{
    color: black;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    margin-bottom: 0;
}

.card-form{
    margin-left: 20%;
    text-align: left;
}